<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">
    <h1 class="text-center font-bold shadow-xl rounded-xl border-2 border-white border-solid w-6/12 text-lg mx-auto m-10 p-2 sm:p-8">
        Password Generator
    </h1>
    <form method="POST" action="getpass">
    <input type="number" name="length" class="w-11/12 sm:w-6/12 text-center font-bold p-2 sm:text-lg bg-white text-black block mx-auto rounded-2xl " placeholder="Enter The Length of the Password :- " required min="1" max="100"><br>
    <div class="block mx-auto text-center">
        <div class="border-2 border-solid w-10/12 mx-auto rounded-2xl m-2 p-3 sm:p-4 md:p-6 sm:w-4/12 md:w-5/12"><input type="checkbox" name="uppercase">&nbsp;&nbsp;&nbsp;Include UpperCase Letters </div>
        <div class="border-2 border-solid w-10/12 mx-auto rounded-2xl m-2 p-3 sm:p-4 md:p-6 sm:w-4/12 md:w-5/12"><input type="checkbox" name="special">&nbsp;&nbsp;&nbsp;Include Special Characters </div>
        <div class="border-2 border-solid w-10/12 mx-auto rounded-2xl m-2 p-3 sm:p-4 md:p-6 sm:w-4/12 md:w-5/12"><input type="checkbox" name="numbers">&nbsp;&nbsp;&nbsp;Include Numbers </div>
    </div><br>
    <button type="submit" class="p-4 rounded-xl block mx-auto bg-gradient-to-r from-purple-500 to-blue-500 hover:text-white font-mono">
        Get Password
    </button><br>
    </form><br>
    <input id="password" class="p-3 m-3 block mx-auto text-center text-white font-mono border-2 border-solid border-gray-900 w-10/12 sm:w-8/12 md:w-6/12" disabled value="{{password}}"></input>
    <button id="copybutton" onclick="copy()" class="text-white bg-black font-mono cursor-pointer block mx-auto text-center">Copy</button>
    <h3 class="text-white text-center font-mono p-2 border-2 border-dashed border-white w-6/12 mx-auto block mt-4">-- Ayush Verma</h3>
    <script>
        function copy(){
            var textarea = document.createElement("textarea");
            // Set its value to the password text
            textarea.value = document.getElementById("password").value;
            // Append it to the body
            document.body.appendChild(textarea);
            // Select its content
            textarea.select();
            // Copy the selected text
            document.execCommand("copy");
            // Remove the temporary textarea
            document.body.removeChild(textarea);
            // Change button text
            document.getElementById("copybutton").innerHTML = "Copied !";
        } 
    </script>
</body>
</html>